body {
    background-color: #161618;
    color: #f2f5f4;
    font-family: sans-serif;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
    font-variant: small-caps;
    color: #ee4d2e;
}

#lang-select {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #2a2e31;
    border: 1px solid #ee4d2e;
    color: #f2f5f4;
}

#keyboard {
    display: inline-block;
    text-align: center;
}
#keyboard > .kbd-list {
    text-align: left;
}
#keyboard > .kbd-list > div > h2 {
    margin: 30px 0 10px 0;
}
#keyboard > .kbd-list > div > div {
    padding-left: 10px;
}
#keyboard > .kbd-list > div > div > p {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-style: italic;
}
#keyboard > .kbd-list > div > div > div {
    display: block;
}
#keyboard > .kbd-list > div > div > div > span {
    margin: 0 10px 0 0;
    padding: 2px 10px;
    border-radius: 10px;
    background-color: #2a2e31;
    font-size: 12px;
}
#keyboard > .kbd {
    position: relative;
    display: inline-block;
    padding: 40px;
    border: 1px solid #ee4d2e;
    text-align: left;
}
#keyboard > .kbd > .fun {
    display: flex;
    flex-direction: row;
}
#keyboard > .kbd > .main {
    display: inline-flex;
    flex-direction: column;
}
#keyboard > .kbd > .right {
    display: inline-flex;
    flex-direction: column;
}
#keyboard > .kbd > .main > div,
#keyboard > .kbd > .right > div {
    display: flex;
    flex-direction: row;
    height: 40px;
}
#keyboard > .kbd > .fun > div,
#keyboard > .kbd > .main > div > div,
#keyboard > .kbd > .right > div > div {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    background-color: #ee4d2e;
    color: #161618;
}
#keyboard > .kbd > .fun > div.active,
#keyboard > .kbd > .main > div > div.active,
#keyboard > .kbd > .right > div > div.active {
    background-color: #75c0c7;
}
#keyboard > .kbd > .fun > div > span,
#keyboard > .kbd > .main > div > div > span,
#keyboard > .kbd > .right > div > div > span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    margin: 2px;
    background-color: #f2f5f4;
    font-size: 11px;
    text-align: center;
}
#keyboard > .kbd > .fun > div.active > span,
#keyboard > .kbd > .main > div > div.active > span,
#keyboard > .kbd > .right > div > div.active > span {
    background-color: #75c0c7;
}
#keyboard > .kbd > .fun > div.assigned > span::after,
#keyboard > .kbd > .main > div > div.assigned > span::after,
#keyboard > .kbd > .right > div > div.assigned > span::after {
    position: absolute;
    right: 3px;
    bottom: 1px;
    content: 'â—';
    color: #ee4d2e;
}
#keyboard > .kbd > .fun > div.active.assigned > span::after,
#keyboard > .kbd > .main > div > div.active.assigned > span::after,
#keyboard > .kbd > .right > div > div.active.assigned > span::after {
    color: #f2f5f4;
}
#keyboard > .kbd > .fun > .desc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-align: center;
}
#keyboard > .kbd > .popup {
    display: none;
    position: absolute;
    background-color: #00000080;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
#keyboard > .kbd > .popup.visible {
    display: block;
}
#keyboard > .kbd > .popup > * {
    display: inline-block;
    height: calc(100% - 100px);
    margin: 10px;
    padding: 40px;
    background-color: #161618;
    overflow-y: auto;
}
#keyboard > .kbd ul {
    list-style: none;
}
#keyboard .clickable {
    cursor: pointer;
    color: #75c0c7;
}
#keyboard .clickable:hover {
    color: #f2f5f4;
}